<!DOCTYPE html>
<html>
    <head>
        <title>:;$topics['title'];: - :;SITE_NAME;:</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href=":;$this->root;:style">
        <script src=":;$this->root;:script" async="async"></script>
    </head>
    <body>
        <div id="wrapper">
            <form method="post" action="" php-if="isset($_SESSION['username']) === true">
                <input type="submit" name="logout" value="Log out">
            </form>
            <form method="post" action=":;$this->root;:manage"  php-if="empty($_SESSION['level']) === false && $_SESSION['level'] == 'admin'">
                <input type="submit" name="manage" value="Manage users">
            </form>
            <h1>:;$topics['title'];:</h1>
            <article>
                <ol start=":;($index*$chunk)+1;:" php-foreach="$comments as $comment">
                    <li id="c:;$comment['id'];:">
                        <strong>:;$comment['username'];:</strong>
                        <p>:;=nl2br(htmlspecialchars($comment['content']));:</p>
                        <small>:;$datetime->setTimestamp($comment['timestamp'])->format('Y-m-d H:i:s');:</small>
                    </li>
                </ol>
            </article>
            <nav id="sitepath">
                <ul php-if="empty($comment_limit) === false  && $comment_limit > 1" php-for="$i=1; $i < $comment_limit + 1; $i++" id="paging">
                    <li>
                        <strong php-if="$i === $index + 1">:;$i;:</strong>
                        <a href=":;$this->root.'topic/'.$topic_id.'/'.$i;:" php-else>:;$i;:</s>
                    </li>
                </ul>
            </nav>
            <section>
                <form name="newcomment" method="post" action="">
                    <ul php-if="empty($errors) === false" php-foreach="$errors as $message">
                        <li>:;$message;:</li>
                    </ul>
                    <div>
                        <dl>
                            <dt>Comment</dt>
                            <dd><textarea name="comment"></textarea></dd>
                        </dl>
                    </div>
                    <div php-if="empty($_SESSION['username']) === true" class="login">
                        <!-- #include file="login.temp.html" -->
                    </div>
                    <p php-else>Will be post as &ldquo;:;$_SESSION['username'];:&rdquo;</p>
                    <p><input type="submit" name="newcomment" value="Submit"></p>
                </form>
            </section>
            <footer>
                <p><a href=":;$this->root;:">HOME</a></p>
            </footer>
        </div>
    </body>
</html>
