<!DOCTYPE html>
<html>
    <head>
        <title>:;SITE_NAME;:</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div id="wrapper">
            <article>
                <h1>Welcome! You are the first visitor!</h1>
                <p>You can get an administrator account. Please set the password.<br>
                <form name="admin" action="" method="post">
                    <ul php-if="empty($errors) === false" php-foreach="$errors as $message">
                        <li>:;$message;:</li>
                    </ul>
                    <!-- #include file="login.temp.html" -->
                    <p><input type="submit" name="admin" value="Submit"></p>
                </form>
            </article>
        </div>
    </body>
</html>
