<!DOCTYPE html>
<html>
    <head>
        <title>:;SITE_NAME;:</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href=":;$this->root;:style">
        <script src=":;$this->root;:script" async="async"></script>
    </head>
    <body>
        <div id="wrapper">
            <form method="post" action="" php-if="isset($_SESSION['username']) === true">
                <input type="submit" name="logout" value="Log out">
            </form>
            <h1>:;SITE_NAME;:</h1>
            <p php-if="empty($topics) === true">There is no topic.</p>
            <section php-else>
                <ul php-foreach="$topics as $topic">
                    <li>
                        <p><a href=":;$this->root.'topic/'.$topic['id'];:">:;$topic['title'];: (:;$topic['total'];:)</a></p>
                    </li>
                </ul>
            </section>
            <nav php-if="empty($topic_limit) === false">
                <ul php-for="$i=1; $i < $topic_limit + 1; $i++" id="paging">
                    <li>
                        <strong php-if="$i === $index + 1">:;$i;:</strong>
                        <a href=":;$this->root.$i;:" php-else>:;$i;:</s>
                    </li>
                </ul>
            </nav>
            <section>
                <form name="newtopic" method="post" action=":;$this->root;:">
                    <ul php-if="empty($errors) === false" php-foreach="$errors as $message">
                        <li>:;$message;:</li>
                    </ul>
                    <div>
                        <dl>
                            <dt>Topic</dt>
                            <dd><input type="text" name="topic" value=""></dd>
                            <dt>Comment</dt>
                            <dd><textarea name="comment"></textarea></dd>
                        </dl>
                    </div>
                    <div php-if="empty($_SESSION['username']) === true">
                        <!-- #include file="login.temp.html" -->
                    </div>
                    <p php-else>Will be post as &ldquo;:;$_SESSION['username'];:&rdquo;</p>
                    <p><input type="submit" name="newtopic" value="Submit"></p>
                </form>
            </section>
            <footer>
                <p><a href=":;$this->root;:">HOME</a></p>
            </footer>
        </div>
    </body>
</html>
