<!DOCTYPE html>
<html>
    <head>
        <title>:;$topics['title'];: - :;SITE_NAME;:</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <script src=":;$this->root;:script/topic" async="async"></script>        
    </head>
    <body>
        <div id="wrapper">
            <article>
                <h1>:;$topics['title'];:</h1>
                <ol start=":;($index*$chunk)+1;:" php-foreach="$comments as $comment">
                    <li>
                        <p>:;=nl2br(htmlspecialchars($comment['content']));:</p>
                        <p><span>:;$datetime->setTimestamp($comment['timestamp'])->format('Y年n月j日 H時i分s秒');:</span> <strong>:;$comment['username'];:</strong></p>
                    </li>
                </ol>
            </article>
            <nav id="sitepath">
                <p><a href=":;$this->root;:">Home</a> <a href=":;$this->root.'topic/'.$topic_id.'/';:">:;$topics['title'];:</a></p>
                <ul php-if="empty($comment_limit) === false " php-for="$i=1; $i < $comment_limit + 1; $i++" id="paging">
                    <li>
                        <strong php-if="$i === $index + 1">:;$i;:</strong>
                        <a href=":;$this->root.'topic/'.$topic_id.'/'.$i;:" php-else>:;$i;:</s>
                    </li>
                </ul>
            </nav>
            <section>
                <form name="newcomment" method="post" action="">
                    <ul php-if="empty($errors) === false" php-foreach="$errors as $message">
                        <li>:;$message;:</li>
                    </ul>
                    <div>
                        <dl>
                            <dt>Comment</dt>
                            <dd><textarea name="comment"></textarea></dd>
                        </dl>
                    </div>
                    <div php-if="empty($_SESSION['username']) === true">
                        <!-- #include file="login.temp.html" -->
                    </div>
                    <p php-else>Will be post as &ldquo;:;$_SESSION['username'];:&rdquo;</p>
                    <p><input type="submit" name="newcomment" value="Submit"></p>
                </form>
                <form method="post" action="">
                    <input type="submit" name="logout" value="Log out">
                </form>
            </section>
        </div>
    </body>
</html>
